{{#each favoritesList.items as |item|}}
<li class="question">
  <div class="question-content">
    <span class="question-title">
    {{#link-to 'question' item.id}}
    {{item.title}} {{/link-to}}
  </span> by {{item.author}}
  | {{#link-to 'question' item.id}}{{questionAmount}} Answers {{/link-to}}
  </div>
</li>
{{/each}}
