.answer {
  background-color: #eee;
  padding: 5px;
  margin-bottom:5px;
}

.navbar {
  border-radius: 0px;
  background-color: #004d99;
  border: 0px;
}

.navbar a{
  color: white;
}

.navbar-inverse .navbar-brand{
  color: white;
}

.navbar-inverse .navbar-brand:hover {
  text-decoration: underline;
}

.question-list {
  list-style-type: none;
  padding-left: 0px;
}

.question {
  border: 1px solid #bfbfbf;

}

.ember-view:first-child .question{
  border-bottom: 0px;
}

.question-title {
  font-size: 1.7em;
}

.question-title div{
  float: left;
}



.question .rating {
  padding-left: 10px;
  padding-right: 5px;
}

.answer-list {
  margin-top: 30px;
  margin-bottom: 10px;
}

.favbutton {
  background: none;
  border:0px;
}

.removebutton {
  color: red;
}

.addbutton {
  color: pink;
}

.featured {
  background-color: #0066cc;
  color: white;
  padding: 5px;
}

.question-content {
  padding: 15px;
}

.buttonrate {
  color: #3399ff;
  background: none;
  border: 0px;
}
